Make.com/SpotifyNowPlayingToBlueskyListigePlaylists/Spotify Now Playing to Bluesky ListigePlaylists.blueprint.json
{
    "name": "Spotify Now Playing to Bluesky ListigePlaylists",
    "flow": [
        {
            "id": 1,
            "module": "spotify:watchRecentlyPlayedTracks",
            "version": 2,
            "parameters": {
                "limit": 1,
                "__IMTCONN__": 11547893
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -209,
                    "y": -72
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "spotify"
                            },
                            "label": "My Spotify connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:spotify",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "http:ActionGetFile",
            "version": 3,
            "parameters": {
                "handleErrors": false
            },
            "mapper": {
                "url": "{{1.track.album.images[].url}}",
                "method": "get",
                "serializeUrl": true,
                "shareCookies": false
            },
            "metadata": {
                "designer": {
                    "x": 91,
                    "y": -72
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "hidden",
                        "label": "Method"
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 10,
            "module": "bluesky:uploadMedia",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 11890810
            },
            "mapper": {
                "data": "{{9.data}}",
                "filename": "{{9.fileName}}"
            },
            "metadata": {
                "designer": {
                    "x": 391,
                    "y": -72
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "bluesky"
                            },
                            "label": "My Bluesky connectio"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:bluesky",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "filename",
                        "type": "filename",
                        "label": "File name",
                        "required": true
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true
                    },
                    {
                        "name": "filename",
                        "type": "filename",
                        "label": "File name",
                        "required": true
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 11,
            "module": "json:CreateJSON",
            "version": 1,
            "parameters": {
                "type": 428869,
                "space": ""
            },
            "mapper": {
                "collection": "app.bsky.feed.post",
                "repo": "[REPLACE WITH YOUR HANDLE HERE].bsky.social.bsky.social",
                "record": {
                    "text": "🎧 Recently listened to this track!\r\n\r\nNow posting it to @listigeplaylists.bsky.social for playlisting 🎵",
                    "$type": "app.bsky.feed.post",
                    "createdAt": "{{now}}",
                    "embed": {
                        "$type": "app.bsky.embed.external",
                        "external": {
                            "uri": "{{1.track.external_urls.spotify}}",
                            "title": "{{1.track.name}}",
                            "description": "{{join(map(1.track.artists; \"name\"); \", \")}}",
                            "thumb": {
                                "$type": "blob",
                                "ref": {
                                    "$link": "{{10.blob.ref.`$link`}}"
                                },
                                "mimeType": "{{10.blob.mimeType}}",
                                "size": "{{10.blob.size}}"
                            }
                        }
                    },
                    "facets": [
                        {
                            "index": {
                                "byteStart": "59",
                                "byteEnd": "88"
                            },
                            "features": [
                                {
                                    "$type": "app.bsky.richtext.facet#mention",
                                    "did": "did:plc:w524f2zdqikl6g7gw2n46hea"
                                }
                            ]
                        }
                    ],
                    "langs": [
                        "en"
                    ]
                }
            },
            "metadata": {
                "designer": {
                    "x": 691,
                    "y": -71
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "My data structure"
                        },
                        "space": {
                            "label": "Empty"
                        }
                    },
                    "expect": {
                        "record": {
                            "nested": {
                                "facets": {
                                    "mode": "chose",
                                    "items": [
                                        {
                                            "features": {
                                                "mode": "chose",
                                                "items": [
                                                    null
                                                ]
                                            }
                                        }
                                    ]
                                },
                                "langs": {
                                    "mode": "chose",
                                    "items": [
                                        null
                                    ]
                                }
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure",
                        "required": true
                    },
                    {
                        "name": "space",
                        "type": "select",
                        "label": "Indentation",
                        "validate": {
                            "enum": [
                                "tab",
                                "2",
                                "4"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "collection",
                        "type": "text",
                        "label": "Collection"
                    },
                    {
                        "name": "repo",
                        "type": "text",
                        "label": "Repo"
                    },
                    {
                        "name": "record",
                        "type": "collection",
                        "label": "Record",
                        "spec": [
                            {
                                "name": "text",
                                "type": "text",
                                "label": "Text"
                            },
                            {
                                "name": "$type",
                                "type": "text"
                            },
                            {
                                "name": "createdAt",
                                "type": "text",
                                "label": "Created at"
                            },
                            {
                                "name": "embed",
                                "type": "collection",
                                "label": "Embed",
                                "spec": [
                                    {
                                        "name": "$type",
                                        "type": "text"
                                    },
                                    {
                                        "name": "external",
                                        "type": "collection",
                                        "label": "External",
                                        "spec": [
                                            {
                                                "name": "uri",
                                                "type": "text",
                                                "label": "URI"
                                            },
                                            {
                                                "name": "title",
                                                "type": "text",
                                                "label": "Title"
                                            },
                                            {
                                                "name": "description",
                                                "type": "text",
                                                "label": "Description"
                                            },
                                            {
                                                "name": "thumb",
                                                "type": "collection",
                                                "label": "Thumb",
                                                "spec": [
                                                    {
                                                        "name": "$type",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "ref",
                                                        "type": "collection",
                                                        "label": "Ref",
                                                        "spec": [
                                                            {
                                                                "name": "$link",
                                                                "type": "text"
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "name": "mimeType",
                                                        "type": "text",
                                                        "label": "Mime type"
                                                    },
                                                    {
                                                        "name": "size",
                                                        "type": "number",
                                                        "label": "Size"
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                ]
                            },
                            {
                                "name": "facets",
                                "type": "array",
                                "label": "Facets",
                                "spec": {
                                    "type": "collection",
                                    "spec": [
                                        {
                                            "name": "index",
                                            "label": null,
                                            "type": "collection",
                                            "spec": [
                                                {
                                                    "name": "byteStart",
                                                    "label": null,
                                                    "type": "number"
                                                },
                                                {
                                                    "name": "byteEnd",
                                                    "label": null,
                                                    "type": "number"
                                                }
                                            ]
                                        },
                                        {
                                            "name": "features",
                                            "label": null,
                                            "type": "array",
                                            "spec": {
                                                "type": "collection",
                                                "spec": [
                                                    {
                                                        "name": "$type",
                                                        "label": null,
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "did",
                                                        "label": null,
                                                        "type": "text"
                                                    }
                                                ]
                                            }
                                        }
                                    ],
                                    "name": "value"
                                }
                            },
                            {
                                "name": "langs",
                                "type": "array",
                                "label": "Langs",
                                "spec": {
                                    "type": "text",
                                    "name": "value"
                                }
                            }
                        ]
                    }
                ]
            }
        },
        {
            "id": 12,
            "module": "bluesky:makeAnApiCall",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 11890810
            },
            "mapper": {
                "url": "/xrpc/com.atproto.repo.createRecord",
                "body": "{{11.json}}",
                "method": "POST",
                "headers": [
                    {
                        "key": "Content-Type",
                        "value": "application/json"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 992,
                    "y": -73
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose"
                        },
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "bluesky"
                            },
                            "label": "My Bluesky connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:bluesky",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "text",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "GET",
                                "POST",
                                "PUT",
                                "PATCH",
                                "DELETE"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Key"
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Header"
                        },
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Key"
                                },
                                {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Value"
                                }
                            ],
                            "type": "collection",
                            "label": "Parameter"
                        },
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "body",
                        "type": "text",
                        "label": "Body"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}
